/* General body settings */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #fdf594;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Navigation styling */
nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  color: var(--text-color);
}

.nav-button {
  text-decoration: none;
  color: #000000;
  background: linear-gradient(
    to bottom,
    #f4fcef,
    #b1e877
  ); /* Light green gradient */
  padding: 10px 25px;
  border-radius: 30px; /* Rounded corners */
  border: 2px solid black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Light shadow for 3D effect */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Large Title styling for 'asap' and 'NewJeans' */
.title {
  font-size: 140px;
  color: #3c89f5;
  border: 1px black;
  text-align: center;
  font-family: "Instrument Serif", serif;
  position: relative;
}

/* 'asap' span styling */
.title span {
  display: inline-block;
  position: relative;
  font-style: italic;
  border: 1px black;
}

/* Adding emoji to the title */
.title span.flower {
  position: absolute;
  top: -30px;
  right: -30px;
}

/* Outer container with Elliptical Shadow */
.media-player {
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Video Wrapper with border and overflow hidden */
.video-wrapper {
  position: relative;
  width: 560px;
  height: 315px;
  border-radius: 20px;
  border: 2px solid #f3f3f3;
  overflow: hidden; /* This ensures the video stays inside the border */
  z-index: 1;
}

/* Elliptical Blur Shadow behind the video */
.media-player::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 400px;
  background: #ff00d0;
  border-radius: 50%;
  filter: blur(50px);
  z-index: -1; /* Place the shadow behind everything */
}

/* Small Decorations (Emojis, wand, etc) */
.decoration {
  position: absolute;
  font-size: 30px;
}

/* Wand emoji decoration */
.decoration.wand {
  top: 40%;
  left: 10%;
}

/* Rabbit emoji decoration */
.decoration.rabbit {
  top: 50%;
  right: 10%;
}
