/* General body settings */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", system-ui;
  background: #faffad;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Navigation styling */
nav {
  margin-top: 60px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 70px;
}

nav ul li {
  margin-right: 10px;
}

.nav-button {
  text-decoration: none;
  color: #000000;
  background: linear-gradient(to bottom, #f4fcef, #b1e877);
  padding: 10px 20px;
  border-radius: 30px; /* Rounded corners */
  border: 1px solid black;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); Light shadow for 3D effect */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Landing page */
/* Container for the Heading */
.heading-container {
  text-align: center;
  position: relative;
}

/* Styling for the 'NewJeans' Text */
.newjeans-text {
  font-size: 300px;
  font-family: "Instrument Serif", system-ui;
  color: #1298ff;
  border: 1px black;
  z-index: 1;
  /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */
  margin-top: -40px; /* Adjust this to bring 'NewJeans' closer to 'asap' */
  -webkit-text-stroke: 1px black; /* Black border around text */
}

.asap-text {
  font-size: 300px;
  font-family: "Instrument Serif", system-ui;
  color: #1298ff;
  border: 1px black;
  z-index: 1;
  /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */
  /* margin-top: -40px; Adjust this to bring 'NewJeans' closer to 'asap' */
  -webkit-text-stroke: 1px black; /* Black border around text */
}

/* Outer container with Elliptical Shadow */
/* .media-player {
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
} */

/* Video Wrapper with border and overflow hidden */
.video-wrapper {
  position: relative;
  width: 560px;
  height: 315px;
  border-radius: 20px;
  border: 2px solid #f3f3f3;
  overflow: hidden; /* This ensures the video stays inside the border */
  z-index: 1;
}

/* Elliptical Blur Shadow behind the video */
.media-player::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 400px;
  background: #ff00d0;
  border-radius: 50%;
  filter: blur(50px);
  z-index: -1; /* Place the shadow behind everything */
}

/* Small Decorations (Emojis, wand, etc) */
.decoration {
  position: absolute;
  font-size: 30px;
}

/* Wand emoji decoration */
.decoration.wand {
  top: 40%;
  left: 10%;
}

/* Rabbit emoji decoration */
.decoration.rabbit {
  top: 50%;
  right: 10%;
}
