body {
  font-family: "Clash Display", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 50px;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  flex-grow: 1;
}

.project-title {
  font-size: 18px;
  text-transform: none;
  margin: 20px 40px;
}

h2 {
  font-family: "Clash Display", sans-serif;
  font-size: 32px;
  font-style: medium;
  text-transform: uppercase;
  margin-top: 20px;
}

.portfolio-title {
  font-size: 96px;
  line-height: 1.2;
  display: inline-block;
}

.project-title-script {
  font-family: "Ballet", cursive;
  font-size: 96px;
  line-height: 1.2;
  display: inline-block;
  vertical-align: baseline; /* Ensure the script font aligns well with the rest of the text */
}

.student-info {
  font-size: 18px;
  /* margin-top: 0px; */
}

.image-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three equal-width columns */
  gap: 11px; /* Sets the desired margin between videos */
  padding: 0 100px 100px; /* Adds padding to the left, right, bottom of the container */
  box-sizing: border-box; /* Ensures padding is included in the element's total width */
  width: 100%;
  margin: -20px auto 0 auto;
}

.image-section img {
  width: 100%; /* Image will take up the full width of its grid cell */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  height: auto; /* Maintains the image's aspect ratio */
}

.table-of-content-wrapper {
  background-color: #708d93; /* Set the background color for the full width */
  width: 100%; /* Ensure the wrapper expands to the full width of the screen */
  margin: 0px; /* Reset any default margin */
  padding: 30px 0; /* Padding top and bottom */
}

.table-of-content {
  color: white;
  padding: 0 10px;
  max-width: 1000px; /* Restrict the width of the content */
  margin: 0 auto; /* Center the table of content section */
}

.table-title {
  font-size: 96px;
  margin-bottom: 20px;
  text-align: left; /* Align title to the left */
}

.table-title .script {
  font-family: "Ballet", cursive;
  font-size: 72px;
  vertical-align: middle;
}

.content-list {
  list-style: none;
  padding: 30px 10px 0;
  margin: 0;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-list li {
  display: grid;
  grid-template-columns: 1fr auto; /* Two columns: text and question */
  align-items: baseline; /* Align items to the baseline for better text alignment */
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  font-weight: 380;
}

.content-list li .question {
  justify-self: start; /* Align the question text to the start of the grid cell */
  text-align: left;
  margin-left: 10px; /* Adjust as needed to fine-tune the alignment */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
  font-family: "Montserrat", sans-serif;
  /* font-size: 20px; */
}

h3 {
  font-family: "Clash Display", sans-serif;
  font-size: 64px;
  font-style: medium;
  padding-top: 40px;
}

h4 {
  font-family: "Clash Display", sans-serif;
  font-weight: medium;
  font-size: 28px;
}

.script {
  font-family: "Ballet", cursive;
  font-size: 64px;
}
